.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
h1 {
  color: "white";
}
body {
 background-color: blue;
 color: #FFFFFF;
}
a{
  color: pink;
}
