a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  width:25%;
  height: 60px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
h1 {
  width: 100%;
  text-align: center;
  color: pink;
}
body {
 background-color: blue;
 color: #FFFFFF;
}

.image {
  text-align: center;
  color: black;
   background-image: url("header.jpg");
   background-size: contain;
   height: 200px;
}

.header p{
  font-size: 40px;
  text-align: center;
}

.disclosure p{
  font-style: italic;
  width: 100%;
  position: fixed;
  bottom: 0;
}
